{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {{ include('core_info.html.twig', {minimalista: true}) }}
    {{ include('navbar.html.twig') }}
    <br>
    <br>
    {% block vista_modulo %}
    {% endblock %}
{% endblock %}