{% extends 'dash_board/index.html.twig' %}

{% block title %}Procesamiento Puntos{% endblock %}
{% block head_javascripts_adicionales %}
    <script src="{{ asset('js/puntos.js') }}"></script>
{% endblock %}
{% block vista_modulo %}
    <div class="page-header">
        <h2>Procesamiento Puntos</h2>
    </div>
    <div class="row">&nbsp;</div>
    <label for="empleado"></label>
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>
                Total puntos del empleado seleccionado:
            </h2>
        </div>
        <div class="col-md-6">
            <p class="resultado"></p>
        </div>
    </div><br><br>
    <table class="table table-condesed">
        <thead>
        <tr>
            <th>Vendedor</th>
            <th>Periodo</th>
            <th>Monto Base</th>
            <th>Venta</th>
            <th>Porcentaje</th>
            <th>Puntos</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <br>
    <br>
{% endblock %}