{% extends 'dash_board/index.html.twig' %}


{% block vista_modulo %}
{% block title %}<h1 style="text-align: center;">Productos</h1>{% endblock %}
<div class="container-fluid">
    <table class="table table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Url_imagen</th>
                <th>Puntos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td style="  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0;">{{ producto.urlImagen }}</td>
                <td>{{ producto.puntos }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('producto_show', {'id': producto.id}) }}"><span
                            class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Editar</a>
                    <a class="btn btn-danger" href="{{ path('producto_edit', {'id': producto.id}) }}"><span
                            class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;Eliminar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No hay regsitros</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}