{% extends 'dash_board/index.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block vista_modulo %}
    <h1 style="text-align: center;">Crear Producto</h1>
    {{ include('producto/_form.html.twig') }}

{% endblock %}
