@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.titulo-modulo {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}