{% extends 'dash_board/index.html.twig' %}

{% block title %}Edit Empleado{% endblock %}

{% block vista_modulo %}
    <h1>Edit Empleado</h1>

    {{ include('empleado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('empleado_index') }}">back to list</a>

    {{ include('empleado/_delete_form.html.twig') }}
{% endblock %}
