{% extends 'dash_board/index.html.twig' %}

{% block vista_modulo %}
    {% block title %}<h1 style="text-align: center;">Empleados</h1>{% endblock %}

    <table class="table table-bordered" style="text-align: center;">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Usuario</th>
            <th>Password</th>
            <th>Rol</th>
            <th>Id Jefe</th>
            <th>Administrador</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.fechaNacimiento ? empleado.fechaNacimiento|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ empleado.usuario }}</td>
                <td>{{ empleado.password }}</td>
                <td>{{ empleado.rol }}</td>
                <td>{{ empleado.idJefe }}</td>
                <td>{{ empleado.admin ? 'Si' : 'No' }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-primary" href="{{ path('empleado_show', {'id': empleado.id}) }}"><span
                                class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Editar</a>
                    <a class="btn btn-danger" href="{{ path('empleado_edit', {'id': empleado.id}) }}"><span
                                class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
