
{% extends 'dash_board/index.html.twig' %}


{% block vista_modulo %}
{% block title %}<h1 style="text-align: center;">Crear Empleados</h1>{% endblock %}
    {{ include('empleado/_form.html.twig') }}
{% endblock %}
