{% extends 'base.html.twig' %}
{% block title %}Empleado{% endblock %}
{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ empleado.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ empleado.apellido }}</td>
        </tr>
        <tr>
            <th>Fecha_nacimiento</th>
            <td>{{ empleado.fechaNacimiento ? empleado.fechaNacimiento|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Usuario</th>
            <td>{{ empleado.usuario }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ empleado.password }}</td>
        </tr>
        <tr>
            <th>Rol</th>
            <td>{{ empleado.rol }}</td>
        </tr>
        <tr>
            <th>Id_jefe</th>
            <td>{{ empleado.idJefe }}</td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>{{ empleado.admin ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('empleado_index') }}">back to list</a>

    <a href="{{ path('empleado_edit', {'id': empleado.id}) }}">edit</a>

    {{ include('empleado/_delete_form.html.twig') }}
{% endblock %}
