<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
    {% block head_stylesheets %}
        <!--BOOTSTRAP 3.37 STYLES CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">
        <!--DATATABLES STYLES CDN-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

        <link rel="stylesheet" href="{{ asset('css/Main.css') }}">
    {% endblock %}
</head>
<body class="container-fluid">
{% block head_javascripts %}
    <!--JQUEY CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--BOOTSTRAP 3.37 CDN-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <!--DATATABLES CDN-->
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <!--SWEET ALERT CDN-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}
{% block head_javascripts_adicionales %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>
