<div class="well well-lg">
    <div class="row" {% if minimalista %}style="max-height: 1%" {% endif %}>
        <div class="{% if minimalista %}col-xs-3{% else %}col-xs-6{% endif %}">
            <img class="img-responsive img-rounded" src="{{ asset('img/logo.jpg') }}" alt="Logo">
        </div>
        <div class="{% if minimalista %}col-xs-9{% else %}col-xs-6{% endif %} text-center">
            <h3>DESARROLLADORES</h3>
            {% if minimalista %}
                <div class="row">
                    <p>
                        <strong>
                            Camilo Alberto Cepeda | Andres Felipe Gomez | Johan Sebastian Masmela
                        </strong>
                    </p>
                </div>
            {% else %}
                <div class="row">
                    <p>
                        <strong>
                            Camilo Alberto Cepeda
                        </strong>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <strong>
                            Andres Felipe Gomez
                        </strong>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <strong>
                            Johan Sebastian Masmela
                        </strong>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>