<div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                EMPLEADOS <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/empleado/new">CREAR</a></li>
                <li class="active"><a href="/empleado">CONSULTAR</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                PRODUCTOS <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/producto/new">CREAR</a></li>
                <li><a href="/producto">CONSULTAR</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                PERIODOS <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/periodo/new">CREAR</a></li>
                <li><a href="/periodo">CONSULTAR</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                ÓRDENES <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/orden">CONSULTAR</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                PUNTOS<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/procesamiento-puntos">PROCESAR</a></li>
            </ul>
        </li>
    </ul>

</div>