<div class="container-fluid">
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="text-align: center;">
        <button style="text-align: center;" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;&nbsp;{{ button_label|default('Guardar periodo') }}</button>
    </div>
{{ form_end(form) }}
</div>