{% extends 'base.html.twig' %}

{% block title %}Edit Periodos{% endblock %}

{% block body %}
    <h1>Edit Periodos</h1>

    {{ include('periodos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('periodos_index') }}">back to list</a>

    {{ include('periodos/_delete_form.html.twig') }}
{% endblock %}
