{% extends 'dash_board/index.html.twig' %}


{% block vista_modulo %}
{% block title %}<h1 style="text-align: center;">Periodos</h1>{% endblock %}
    <table class="table table-bordered" style = "text-align: center;">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Monto Base</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for periodo in periodos %}
            <tr>
                <td>{{ periodo.descripcion }}</td>
                <td>{{ periodo.montoBase }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('periodos_show', {'id': periodo.id}) }}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Editar</a>
                    <a class="btn btn-danger" href="{{ path('periodos_edit', {'id': periodo.id}) }}"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay regsitros creados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
