{% extends 'dash_board/index.html.twig' %}


{% block vista_modulo %}
{% block title %}<h1 style="text-align: center;">Crear Periodos</h1>{% endblock %}

    {{ include('periodos/_form.html.twig') }}

{% endblock %}
