{% extends 'base.html.twig' %}

{% block title %}Periodos{% endblock %}

{% block body %}
    <h1>Periodos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ periodo.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ periodo.descripcion }}</td>
            </tr>
            <tr>
                <th>Monto_base</th>
                <td>{{ periodo.montoBase }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('periodos_index') }}">back to list</a>

    <a href="{{ path('periodos_edit', {'id': periodo.id}) }}">edit</a>

    {{ include('periodos/_delete_form.html.twig') }}
{% endblock %}
