{% extends 'dash_board/index.html.twig' %}

{% block title %}Orden{% endblock %}

{% block vista_modulo %}
<h1 style="text-align: center;">Ordenes</h1>
    <table class="table table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th>Id Empleado</th>
                <th>Total Orden</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for orden in ordens %}
            <tr>
                <td>{{ orden.idEmpleado }}</td>
                <td>{{ orden.totalOrden }}</td>
                <td>{{ orden.estado }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('orden_show', {'id': orden.id}) }}"><span
                                class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Editar</a>
                    <a class="btn btn-danger" href="{{ path('orden_edit', {'id': orden.id}) }}"><span
                                class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay registros creados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
