{% extends 'base.html.twig' %}

{% block title %}Orden{% endblock %}

{% block body %}
    <h1>Orden</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orden.id }}</td>
            </tr>
            <tr>
                <th>Id_empleado</th>
                <td>{{ orden.idEmpleado }}</td>
            </tr>
            <tr>
                <th>Total_orden</th>
                <td>{{ orden.totalOrden }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ orden.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('orden_index') }}">back to list</a>

    <a href="{{ path('orden_edit', {'id': orden.id}) }}">edit</a>

    {{ include('orden/_delete_form.html.twig') }}
{% endblock %}
