{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {{ include('core_info.html.twig', {minimalista:false}) }}
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <form class="form" method="post" action="/validar-ingreso">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" name="usuario" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Clave</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
